body {
  background-color: rgb(10, 54, 25);
}
h1 {
  color: white;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
}
button {
  margin: 0 auto;
  display: block;
}
